name: 'Terraform Azure'
 
on: 
  workflow_dispatch:
  push:
    branches:
    - main
 
jobs:
  terraform:
    name: 'Terraform'
    env:
      ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
      TF_VAR_tf_state_rsg: ${{ secrets.TF_STATE_RSG }}
      TF_VAR_tf_state_sta: ${{ secrets.TF_STATE_STA }}
      TF_VAR_openDoor: ${{ secrets.ARM_CLIENT_SECRET }}
    runs-on: ubuntu-latest
 
    # Use the Bash shell regardless whether the GitHub Actions runner
    # is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash
        working-directory: "./tf_azure"

    steps:
    # Checkout the repository to the GitHub Actions runner
    - uses: actions/checkout@v2
    - uses: hashicorp/setup-terraform@v1
      with: 
        terraform_version: 1.0.2

    - name: 'Terraform Format'
      id: fmt
      run: terraform fmt -diff
      continue-on-error: false

    - name: 'Terraform Init'
      id: init
      run: | 
        terraform init \
          -backend-config=resource_group_name=${TF_VAR_tf_state_rsg} \
          -backend-config=storage_account_name=${TF_VAR_tf_state_sta}
 
    - name: 'Terraform Validate'
      id: validate
      run: terraform validate

    - name: 'Terraform Plan'
      id: plan
      run: terraform plan -var-file=variables.tfvars

    - name: 'Terraform Apply'
      if: github.ref == 'refs/heads/main'
      id: apply
      run: terraform apply -auto-approve -var-file=variables.tfvars
      