name: 'Terraform Azure Plan Only'
 
on: 
  workflow_dispatch:
  push:
    branches:
    - main_azure
 
jobs:
  terraform:
    name: 'Terraform'
    env:
      ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
      TF_VAR_tf_state_rsg: ${{ secrets.TF_STATE_RSG }}
      TF_VAR_tf_state_sta: ${{ secrets.TF_STATE_STA }}
      TF_VAR_openDoor: ${ARM_CLIENT_SECRET}
    runs-on: ubuntu-latest
 
    # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash
        working-directory: "./tf_azure"

    steps:
    # Checkout the repository to the GitHub Actions runner
    - uses: actions/checkout@v2
    - uses: hashicorp/setup-terraform@v1
      with: 
        terraform_version: 1.0.0

    - name: 'Terraform Format'
      id: fmt
      run: terraform fmt -diff
      continue-on-error: false

    - name: 'Terraform Init'
      id: init
      run: terraform init -var-file=env.tfvars -backend-config=\
        resource_group_name=${TF_VAR_tf_state_rsg} \
        storage_account_name=${TF_VAR_tf_state_sta}
 
    - name: 'Terraform Validate'
      id: validate
      run: terraform validate

    - name: 'Terraform Plan'
      id: plan
      run: terraform plan -var-file=env.tfvars
